
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  font-size: large;
  padding: 0.4rem 5rem;
  background-color: #282c34;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  color: white;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 6%;
}

a{
  text-decoration: none;
  color: white;
}

img {
  height: auto;
  max-width: 10rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
